.custom-context-card {
  &__image {
    background-size: cover;
    background-position: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 0.4em 0.8em;

    &__text {
      flex: 1 0 content;
      text-decoration: none;
      font-size: 0.7rem !important;
      line-height: 1.4 !important;
      font-style: normal;
    }

    &__anchor {
      display: flex;
      justify-content: flex-end;
      padding: 0.4rem;
    }
  }

  &--vertical-image {
    display: flex;
    flex-direction: row-reverse;
    max-width: 500px;
    max-height: 400px;

    .custom-context-card__image {
      width: 200px;
      height: auto;
      max-height: 250px;
      flex: 1 0 auto;
    }
  }

  &--horizontal-image {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    min-height: 150px;
    max-width: 350px;
    max-height: 400px;

    .custom-context-card__image {
      width: 100%;
      height: 250px;
    }
  }
}

.css-kudwh-MuiTooltip-arrow::before {
  color: rgba(255, 255, 255, 1) !important;
}
