.tooltip-content {
  max-width: 300px;
}

.tooltip-image {
  max-width: 100%;
  margin-right: 8px;
}

.tooltip-image.vertical {
  display: flex;
  flex-direction: row-reverse;
  max-width: 500px;
  max-height: 400px;
}

.tooltip-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tooltip-text a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-top: 8px;
}
